*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  

body{
    background-color:#9090e9;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

main{
   /* border: 2px solid red; */
   height: 550px;
   width: 700px;
   position: relative;
   top: 160px;
   background-color: #6969f9;
   display: flex;
   align-items: center;
   justify-content: center;
 
}

#quotes-sec {
     /* border: 2px solid black; */
     height: 380px;
     width: 400px;
     background-color: rgb(238, 229, 229);
    
}

#btn{
    position: relative;
    top: 232px;
    display: block;
    width: 100%;
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
   
}

#btn:hover{
   background-color:rgb(140, 14, 14);
   color: white;
}

#quotes-sec img{
    cursor: pointer;
   height: 60px;
   width: 60px;
   position: relative;
   left: 340px;
   /* bottom: 90px; */
}

#para-on{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    position: relative;
    text-align: center;
     top: 120px;
}

#author{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    top: 9rem;
    left: 8rem;

}